/* Container holding the image and the text */
.container {
    position: relative;
    text-align: left;
    background-color: white;
    width: 100%;
    aspect-ratio: 26 / 36;
}

/* Background character sheet image*/
.character-sheet {
    width: inherit;
}

/* Character Name text */
.character-name-text {
    position:absolute;
    top: 8.4%;
    left: 6%;
    max-width: 27.5%;
    font-weight:bold;
    height: 3.5%;
    display: flex;
    align-items: flex-end;
    line-height: 1;
}

.character-name-text span {
    background-color: white;
}

/* Class name text */
.class-name {
    position: absolute;
    top: 12.75%;
    left: 9%;
    width: 20%;
}

/* Class and Abilities text */
.class-features {
    position: absolute;
    top: 16%;
    left: 6.5%;
    width: 27%;
    line-height: 1.05;
}

/* max hp text */
.hp {
    position: absolute;
    top: 5%;
    left: 48%;
    font-weight: bold;
}

/* weapon text */
.weapon {
    position: absolute;
    top: 8.5%;
    left: 57.5%;
    max-width: 33%;
    background-color: white;
}

/* strength stat text */
.strength {
    position: absolute;
    top: 17.75%;
    left: 52%;
    font-weight: bold;
}

/* agility stat text */
.agility {
    position: absolute;
    top: 21.75%;
    left: 52.25%;
    font-weight: bold;
}

/* presence stat text */
.presence {
    position: absolute;
    top: 25.25%;
    left: 52%;
    font-weight: bold;
}

/* toughness stat text */
.toughness {
    position: absolute;
    top: 29.5%;
    left: 51%;
    font-weight: bold;
}

/* spirit stat text */
.spirit {
    position: absolute;
    top: 33%;
    left: 48.5%;
    font-weight: bold;
}

/* equipment text */
.clothes-text {
    position: absolute;
    top: 14%;
    left: 58%;
    max-width: 30%;
    line-height: 1.05;
    /* background-color: white; */
}

/* equipment text */
.equipment {
    position: absolute;
    top: 25%;
    left: 63%;
    max-width: 30%;
}

/* devils luck text */
.devils-luck {
    position: absolute;
    top: 40.25%;
    left: 44%;
    font-weight: bold;
}

/* devils luck circles */
.devils-luck-circle-one {
    position: absolute;
    top: 43.9%;
    left: 36.2%;
    font-weight: bold;
    font-family: unset;
}

/* devils luck circles */
.devils-luck-circle-two {
    position: absolute;
    top: 43.8%;
    left: 38.8%;
    font-weight: bold;
    font-family: unset;
}

/* devils luck circles */
.devils-luck-circle-three {
    position: absolute;
    top: 43.8%;
    left: 41.5%;
    font-weight: bold;
    font-family: unset;
}

/* distinctive flaw text */
.distinctive-flaw {
    position: absolute;
    top: 62%;
    left: 6%;
    max-width: 20%;
}

/* Broken body text */
.physical-ailment {
    position: absolute;
    top: 69.5%;
    left: 6%;
    max-width: 22%;
}

/* bad habit text */
.idiosyncracies {
    position: absolute;
    top: 77.25%;
    left: 5%;
    max-width: 22%;
}

/* troubling tale text */
.unfortunate-incidents {
    position: absolute;
    top: 84.5%;
    left: 5%;
    max-width: 23%;
}

/* terrible trait 1 text */
.character-background {
    position: absolute;
    top: 54%;
    left: 5.5%;
    max-width: 22%;
}

/* thing of importance text */
.thing-of-importance {
    position: absolute;
    top: 93.25%;
    left: 7%;
    max-width: 20%;
}

/* relic text */
.relic {
    position: absolute;
    top: 31.5%;
    left: 7%;
    max-width: 24%;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 