/* Container holding the image and the text */
.container {
    position: relative;
    text-align: left;
    background-color: white;
    width: 100%;
    aspect-ratio: 26 / 36;
}

/* Background character sheet image*/
.character-sheet {
    width: inherit;
}

/* Character Name text */
.character-name-text {
    position:absolute;
    top: 10%;
    left: 7%;
    max-width: 26%;
    font-weight:bold;
}

/* Class name text */
.class-name {
    position: absolute;
    top: 13%;
    left: 10%;
    width: 300px;
}

/* Class and Abilities text */
.class-features {
    position: absolute;
    top: 16%;
    left: 8%;
    width: 25%;
}

/* max hp text */
.hp {
    position: absolute;
    top: 5%;
    left: 48%;
    font-weight: bold;
}

/* weapon text */
.weapon {
    position: absolute;
    top: 4.5%;
    left: 59%;
    width: 28%;
}

/* strength stat text */
.strength {
    position: absolute;
    top: 17.5%;
    left: 52%;
    font-weight: bold;
}

/* agility stat text */
.agility {
    position: absolute;
    top: 21.5%;
    left: 53%;
    font-weight: bold;
}

/* presence stat text */
.presence {
    position: absolute;
    top: 25.25%;
    left: 52%;
    font-weight: bold;
}

/* toughness stat text */
.toughness {
    position: absolute;
    top: 29.5%;
    left: 51.5%;
    font-weight: bold;
}

/* spirit stat text */
.spirit {
    position: absolute;
    top: 33%;
    left: 48.5%;
    font-weight: bold;
}

/* equipment text */
.clothes-text {
    position: absolute;
    top: 315px;
    left: 1150px;
    width: 350px;
}

/* equipment text */
.hat-text {
    position: absolute;
    top: 365px;
    left: 1150px;
    width: 270px;
}

/* equipment text */
.equipment {
    position: absolute;
    top: 600px;
    left: 1105px;
    width: 600px;
    font-size: large;
}

/* devils luck text */
.devils-luck {
    position: absolute;
    top: 970px;
    left: 755px;
    font-size: xx-large;
    font-weight: bold;
}

/* distinctive flaw text */
.distinctive-flaw {
    position: absolute;
    top: 1490px;
    left: 120px;
    width: 300px;
    font-size: large;
}

/* Broken body text */
.physical-ailment {
    position: absolute;
    top: 1680px;
    left: 120px;
    width: 330px;
    font-size: large;
}

/* bad habit text */
.idiosyncracies {
    position: absolute;
    top: 1860px;
    left: 120px;
    width: 330px;
    font-size: large;
}

/* troubling tale text */
.unfortunate-incidents {
    position: absolute;
    top: 2020px;
    left: 120px;
    width: 320px;
    font-size: large;
}

/* terrible trait 1 text */
.character-background {
    position: absolute;
    top: 1290px;
    left: 120px;
    width: 325px;
}

/* thing of importance text */
.thing-of-importance {
    position: absolute;
    top: 2230px;
    left: 150px;
    width: 300px;
    font-size: large;
}

/* place of importance text */
.place-of-importance {
    position: absolute;
    top: 2260px;
    left: 170px;
    width: 300px;
}

/* relic text */
.relic {
    position: absolute;
    top: 750px;
    left: 130px;
    width: 400px;
    font-size: large;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 